*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

span{
    color: #E84839;
}
#nav h1{font-size: 65px;}
#nav h3{font-size: 20px;}
#page1{
    background-image: url(./pexels-photo-3112004.jpeg);
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
#center_sub{ -webkit-text-stroke: 1px black;}
#center_main{ -webkit-text-stroke: 1px black;}
#nav{
    line-height:.75;
    font-size: 25px;
    height: 60px;
    background-color: rgba(0, 0, 0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    backdrop-filter: 10px;
    position: fixed;
    width: 100%;
    
}
#nvleft {
    color: white;

}
#topright{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
}

#pg1bottom{
    display: flex;
    justify-content: space-around;
    color: white;
}
#pg1center{ 
    color: white;
    padding: 100px;
    font-size: 10vh;
    height: 75%;
}
.bottom{display: flex;
    border: 2px white solid;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
i{
    padding-left:10vh;
    font-size: 30px;
}





#page2{
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    
}
video{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.step{
    height: 80vh;
    width: 30vw;
    background: rgba(246, 246, 246, 0.5);
    border-radius: 20px; 
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    
}
.step:hover{
    box-shadow: rgb(157, 152, 152) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.step h1{
   padding: 0;
    font-size: 50px;
    text-align: center;
}

.container {
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: rgba(246, 246, 246, 0);
    color: white;
    
}

.container h1 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}


.container2 {
    text-align: center;
    background: rgba(246, 246, 246, 0);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: 10px;
    color: white;
}
.container2 h1{
    font-size: 150%;
}
#search-bar2 {
    width: 60%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button2 {
    padding: 0.5em 1em;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#results2 {
    margin-top: 2em;
    text-align: left;
}

.result-item{
    color: black;
    background: #f9f9f9;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
}
#ilu{
    font-size: 100;
    margin-top: 40%;
}
::-webkit-scrollbar{
    width: 0.1em;

}























#page3{
    height: 100%;
    width: 100%;
    background-image: url(./page3bg.jpg);
    background-position:center;
    background-size:cover;
    background-position: 50%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
}
.exercise{  
    display: flex;
    height: 3.5em;
    width: 5em;


    border-radius: 10px;
    background-color: blue;
    border: 3px black solid;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color:white;
}
#Warmup{
    background-image: url(./warmup.jpg);
    background-position: fill;
    background-size:cover;

}
#chest{
    background-image: url(./chest.jpg);
    background-position: center;
    background-size:cover;
}
#back{
    background-image: url(./Back.jpg);
    background-position: fill;
    background-size:cover;
}
#leg{
    background-image: url(./Legs.png);
    background-position: fill;
    background-size:cover;
}
#Arm{
    background-image: url(./Arm.png);
    background-position: center;
    background-size:cover;
}
#Abs{
    background-image: url(./Abs.png);
    background-position: center;
    background-size:cover;
}
.exercise:hover{
    box-shadow: rgb(1, 1, 1) 0px 20px 30px -10px;
}





#footer{
    width: 100%;
    height: 100px;
    position:bottom;
    background-color:black;
}



@media(max-width:600px){
   
    #nav h1{font-size: 1.5em;}
    #nav h3{font-size: 0.5em;}
    #page1{
        background-image: url(./pexels-photo-3112004.jpeg);
        height: 100%;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
    }
    #nav{
        line-height:.75;
        font-size: 25px;
        height: 60px;
        background-color: rgba(0, 0, 0,0.7);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em;
        backdrop-filter: 10px;
        position: fixed;
        width: 100%;
        
    }
    #nvleft {
        color: white;
         
    }
    #topright{
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        padding: 1em;
        font-size: 0.5em;
    }
    a{
        text-decoration: none;
        color: white;
    }
    
    #pg1bottom{
        display: flex;
        justify-content: space-around;
        color: white;
    }
    #pg1center{ 
        color: white;
        padding: 2em;
        font-size: 3.0em;
        height: 75%;
        padding-left: 1px;
        padding-top: 4em;
    }
    .bottom{display: flex;
        border: 2px white solid;
        padding: 5px;
        margin-top: 30px;
        align-items: center;
        justify-content: space-between;
        font-size: 0.5em;
    }
    i{
        padding-left:30px;
        font-size: 1em
    }
    
    
    
    
    
    #page2{
        display: inline-block;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        overflow: scroll;
        overflow-x: hidden;
        
    }
    video{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .step{
        height: 80vh;
        width: 100%;
        background: rgba(246, 246, 246, 0.5);
        border-radius: 20px; 
        color: white;
        overflow: scroll;
        overflow-x: hidden;
        width: 100vw;
        
    }
    .step:hover{
        box-shadow: rgb(157, 152, 152) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    }
    .step h1{
       padding: 0;
        font-size: 50px;
        text-align: center;
    }
    
    .container {
        margin: 0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        background: rgba(246, 246, 246, 0);
        color: white;
        
    }
    
    .container h1 {
        font-size: 150%;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-top: 10px;
    }
    
    input, select, button {
        padding: 10px;
        margin-top: 5px;
    }
    
    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    #result {
        text-align: center;
        margin-top: 0px;
        font-weight: bold;
    }
    
    
    .container2 {
        text-align: center;
        background: rgba(246, 246, 246, 0);
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: 10px;
        color: white;
    }
    .container2 h1{
        font-size: 150%;
    }
    #search-bar2 {
        width: 60%;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    #search-button2 {
        padding: 0.5em 1em;
        border: none;
        background-color: #5cb85c;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #results2 {
        margin-top: 2em;
        text-align: left;
    }
    
    .result-item{
        color: black;
        background: #f9f9f9;
        margin: 0.5em 0;
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
    }
    #ilu{
        font-size: 100;
        margin-top: 40%;
    }
    ::-webkit-scrollbar{
        width: 0.1em;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #page3{
        height: 100%;
        width: 100%;
        background-image: url(./page3bg.jpg);
        background-position:center;
        background-size:cover;
        background-position: 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        align-items: center;
        justify-items: center;
    }
    .exercise{  
        display: flex;
        height: 3.5em;
        width: 4em;
    
    
        border-radius: 10px;
        background-color: blue;
        border: 3px black solid;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        color:white;
    }
   
    
    
    
    
    #footer{
        width: 100%;
        height: 100px;
        position:bottom;
        background-color:black;
    }
    
}



